* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  box-shadow: 0 2px 10px gray;
  height: 70px;
  position: relative;
}
header img {
  width: 150px;
  margin-top: 20px;
}
header a {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 22px;
  left: 23px;
  cursor: pointer;
}

nav .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 222, 222, 0.6784313725);
  height: 60px;
  font-size: 20px;
}
nav .location p {
  position: relative;
}
nav .location p i {
  position: absolute;
  left: -35px;
}
nav .explor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 250px;
  background-color: #f2f2f2;
}
nav .explor h1 {
  font-weight: 500;
}
nav .explor p {
  font-weight: 300;
}
nav .explor button {
  height: 40px;
  width: 200px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: 0px 7px 13px grey;
  transition: 0.5s;
}
nav .explor button:hover {
  box-shadow: 0px 2px 28px black;
  background: linear-gradient(rgba(255, 121, 218, 0.75), rgba(147, 86, 220, 0.75));
}
nav .functionning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}
nav .functionning .home-card {
  width: 335px;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0px 7px 13px grey;
}
nav .functionning .home-card span {
  background-color: #9356DC;
  color: white;
  border-radius: 100px;
  font-size: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
nav .functionning .home-card i {
  color: gray;
  margin: 0px 15px 0 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  gap: 20px;
  padding: 20px 0 20px 0;
}
section a {
  text-decoration: none;
  color: black;
}
section .restaurant-card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  box-shadow: 0px 7px 13px grey;
}
section .restaurant-card img {
  width: 350px;
  height: 184px;
  border-radius: 20px 20px 0 0;
}
section .restaurant-card span {
  position: absolute;
  width: 85px;
  height: 30px;
  background-color: #99E2D0;
  border-radius: 2px;
  color: #008362;
  font-size: 14px;
  text-align: center;
  line-height: 2;
  right: 15px;
  top: 15px;
}
section .restaurant-card .card-description {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
section .restaurant-card .card-description .heart-container {
  width: 30px;
  height: 30px;
  position: relative;
}
section .restaurant-card .card-description .heart-container .fa-regular {
  position: absolute;
  top: 0;
  height: 30px;
  font-size: 30px;
}
section .restaurant-card .card-description .heart-container .fa-solid {
  position: absolute;
  font-size: 30px;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section .restaurant-card .card-description .heart-container .heart-cover {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  background-color: white;
}
section .restaurant-card .card-description .heart-container:hover .fa-regular {
  opacity: 0;
  transition: 0.3s;
}
section .restaurant-card .card-description .heart-container:hover .heart-cover {
  height: 0;
  transition: 1s;
}

footer {
  background-color: #383838;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 20px;
  gap: 20px;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", cursive;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul a i {
  margin-right: 10px;
}

.menu-img {
  width: 100%;
}
.menu-img img {
  width: 100%;
}

.full-card {
  background-color: #f2f2f2;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.full-card h2 {
  font-weight: 300;
  font-size: 18px;
  position: relative;
}
.full-card h2 span {
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #99E2D0;
  bottom: -8px;
  left: 0px;
}
.full-card .title {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -78px;
  border-radius: 40px 40px 0 0;
  background-color: #f2f2f2;
  width: 100%;
  font-size: 13px;
  padding: 20px;
  box-sizing: border-box;
}
.full-card .title h1 {
  font-family: "Shrikhand", cursive;
}
.full-card .title .heart-menu {
  font-size: 25px;
}
.full-card .card {
  display: flex;
  width: 365px;
  height: 70px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 7px 13px grey;
  line-height: 1.5;
  overflow: hidden;
  cursor: pointer;
}
.full-card .card h3 {
  font-weight: 400;
}
.full-card .card p {
  font-weight: 200;
}
.full-card .card .card-body {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
}
.full-card .card .card-body .card-text h3, .full-card .card .card-body .card-text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.full-card .card .card-body .card-price {
  align-self: end;
}
.full-card .card .card-animation {
  border-radius: 0 20px 20px 0;
  width: 60px;
  margin-right: -60px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
}
.full-card .card .card-animation i {
  font-size: 20px;
  color: white;
  border-radius: 0 20px 20px 0;
  transition: all ease 0.5s;
}
.full-card .card:hover .card-body {
  box-sizing: border-box;
  overflow: hidden;
}
.full-card .card:hover .card-body .card-text {
  width: 255px;
}
.full-card .card:hover .card-animation {
  margin-right: 0;
}
.full-card .card:hover .card-animation i {
  transform: rotate(360deg);
}
.full-card .menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}
.full-card button {
  height: 40px;
  width: 150px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  margin: auto;
  margin-top: 25px;
  box-shadow: 0px 7px 13px grey;
  transition: 0.5s;
}
.full-card button:hover {
  box-shadow: 0px 2px 28px black;
  background: linear-gradient(rgba(255, 121, 218, 0.75), rgba(147, 86, 220, 0.75));
}

.card-0 {
  animation: card-anim 1s 1s forwards;
  opacity: 0;
}

.card-1 {
  animation: card-anim 1s 1.2s forwards;
  opacity: 0;
}

.card-2 {
  animation: card-anim 1s 1.4s forwards;
  opacity: 0;
}

.card-3 {
  animation: card-anim 1s 1.6s forwards;
  opacity: 0;
}

.card-4 {
  animation: card-anim 1s 1.8s forwards;
  opacity: 0;
}

.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  z-index: 1;
  animation: anim-opacity 3s forwards;
}
.spinner i {
  font-size: 100px;
  animation: spinner-anim 1s forwards infinite linear;
}

@keyframes spinner-anim {
  to {
    transform: rotate(360deg);
  }
}
@keyframes anim-opacity {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes card-anim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
